
<%= link_to 'Show all products', products_path %>

<%= render 'form', product: @product %>
<!-- Error messages -->
<% if @product.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@product.errors.count, "error") %> prevented this product from being added</h4>
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
